Error in an Standalone app with underscores package name?

## 🐛 Bug Report

### expo-google-app-auth, On Standalone app, the package name contains underscore cause error invalid redirect_uri. I have change the package name and standalone apps work well with package name without underscore but the app is lived on stores so I cannot suggest to change the package name. How do I make it work with underscores in android.package?


Hi @taschdo, I'm not sure what you mean by underscores are not allowed in the package name. You can build your app with underscores in the `android.package`, as long as it's [still a valid package name](https://stackoverflow.com/questions/10954030/valid-name-for-android-package-name).

You also mentioned the `redirect_uri`, which is probably [the scheme of your app](https://docs.expo.io/versions/v39.0.0/config/app/#scheme). This isn't related to your android package name whatsoever, you should be able to put up all possible valid schemes without affecting the android package name.

<details>
<summary>Build log with underscore package names</summary>
<pre>
❯ expo build:android

📝  Android package Learn more.

? What would you like your Android package name to be? com.bycedric.test_underscore

✔ Choose the build type you would like: › apk
Checking if there is a build in progress...

Accessing credentials for bycedric in project 10891
✔ Would you like to upload a Keystore or have us generate one for you?
If you don't know what this means, let us generate it! :) › Generate new keystore
Keystore updated successfully

- Expo SDK: 39.0.0
- Release channel: default
- Workflow: Managed

Building optimized bundles and generating sourcemaps...
Starting Metro Bundler.
Building iOS bundle
Finished building JavaScript bundle in 20166ms.
Building Android bundle
Building source maps
Finished building JavaScript bundle in 14433ms.
Finished building JavaScript bundle in 106ms.
Finished building JavaScript bundle in 117ms.
Building asset maps
Finished building JavaScript bundle in 927ms.
Finished building JavaScript bundle in 830ms.

Bundle                     Size
┌ index.ios.js          1.17 MB
├ index.android.js      1.17 MB
├ index.ios.js.map      3.92 MB
└ index.android.js.map  3.92 MB

Learn more about JavaScript bundle sizes

Analyzing assets
Saving assets
No assets changed, skipped.

Processing asset bundle patterns:
- /Users/cedric/Projects/expo/support/expo/issues/10891/**/*

Uploading JavaScript bundles
Publish complete

📝  Manifest: https://exp.host/@bycedric/10891 Learn more.
⚙️   Project page: https://expo.io/@bycedric/10891 Learn more.

Checking if this build already exists...

Build started, it may take a few minutes to complete.
You can check the queue length at https://expo.io/turtle-status

You can monitor the build at

 https://expo.io/accounts/bycedric/builds/536be0ae-9a93-4034-ac4e-a98f2f2fd86a

Waiting for build to complete.
You can press Ctrl+C to exit. It won't cancel the build, you'll be able to monitor it at the printed URL.
✔ Build finished.

Successfully built standalone app: https://expo.io/artifacts/3c70368f-a376-49c3-8d89-3d4e6bab7ef7
</pre>
</details> 

If you are still having issues with this, please explain your issue (in detail) for us to help you.

Hope this helps!

Hi @byCedric , I will explain very briefly. For example I have the package name com.app.name_surname, in this the name of the package authorization is not working. And if you remove the underscore in the package name com.app.name surname authorization in the offline app works fine. How do I make authorization with an underscore in the package name work?

Just in case anyone lands here with the same issue:
With Android API version 33, I had the issue that an app with an underscore in the package name could not be opened in the Emulator. I have no idea why that is, the app was starting normally on a physical device.
I tried various combinations and it was definitely related to having an underscore in the package name.

Hi @taschdo ,

I wanted to expand on what @byCedric mentioned regarding the use of underscores in your package name. It seems that the issue may not be directly related to your Android package name, but rather to the URI scheme you're using in your redirect URI.

### Issue with Underscores in URI Schemes
A URI scheme, as defined by RFC 3986, must consist of a letter followed by any combination of letters, digits, plus ("+"), period ("."), or hyphen ("-"). Notably, underscores ("_") are not allowed in the scheme portion of a URI. This means that if your scheme contains an underscore, it will be considered invalid, and services that depend on a valid URI scheme (like OAuth redirects) will fail.

### Explanation with Example
If your URI scheme looks something like `your_scheme_name://redirect`, and it contains an underscore `(your_scheme_name)`, it could cause the invalid redirect_uri error. The underscore invalidates the scheme, and thus the entire URI is considered malformed.

Instead, your URI scheme should be something like `your-scheme-name://redirect`, where you use a hyphen (-) or other valid characters in place of the underscore.

### References:
StackOverflow Discussion: [May URL scheme contain an underscore?](https://stackoverflow.com/questions/9142309/may-url-scheme-contain-an-underscore)
RFC 3986 Specification: [RFC 3986, Section 3.1 - Scheme](https://www.rfc-editor.org/rfc/rfc3986#page-17)

### What Can You Do?
Given that your app is already live on the stores, changing the package name might not be feasible. However, if the issue is indeed with the URI scheme, updating the scheme to use valid characters could resolve the problem. Ensure that the scheme used in your redirect URI adheres to the RFC 3986 specification.

I hope this helps clarify the issue!

P.S. This revelation took 18 hours of my life... but hey, at least we found the problem! 😅
